<% if logged_in? %>
<h1>タスク一覧</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.id, task %> : <%= task.status %> &gt; <%= task.content %></li>
  <% end %>
</ul>

<%= link_to '新規タスクの投稿', new_task_path %>
<%= link_to 'Logout', logout_path, method: :delete %>

<% else %>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>Welcome to the Tasklist</h1>
      <%= link_to 'Log in!', login_path %>
      <%= link_to 'Sign up now!', signup_path %>
    </div>
  </div>
<% end %>