<!--<h1>Users#new</h1>-->
<!--<p>Find me in app/views/users/new.html.erb</p>-->

<div class="text-center">
  <h1>Sign up</h1>
</div>

<div>
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div>
        <%= f.label :name, 'Name' %>
        <%= f.text_field :name %>
      </div>

      <div>
        <%= f.label :email, 'Email' %>
        <%= f.email_field :email %>
      </div>

      <div>
        <%= f.label :password, 'Password' %>
        <%= f.password_field :password %>
      </div>

      <div>
        <%= f.label :password_confirmation, 'Confirmation' %>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.submit 'Sign up' %>
    <% end %>
    <p><%= link_to 'Sign in now!', login_path %></p>
</div>

